header {
	padding: 24px 32px;
	background: var(--c-white);
	@media (max-width: 575px) {
		flex-direction: column;
	}
}

.header-logo {
	font-weight: 700;
	color: var(--c-text);
	font-size: 32px;
}

.header-darkmode {
	background: none;
	border: none;
	color: var(--c-text);
}

.header-nav a {
	padding: 6px 8px;
	color: var(--c-text-secondary);
	&:last-child {
		padding-right: 0;
	}
}
