.intro {
	padding: 60px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	.container {
		display: grid;
		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}
	}
	&__left {
		font-size: 24px;
		color: var(--c-text-secondary);
	}
	&__greeting {
		font-size: 48px;
		font-weight: bold;
		line-height: 1.1;
		color: var(--c-text);
		margin-bottom: 12px;
	}
}
